body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.quiz-container {
  width: 90%;
  max-width: 1200px;
  height: 67vh;
  background-color: rgb(232, 241, 245);
  border: 2px solid rgb(142, 142, 160);
  padding: 120px;
  margin: 30px;
}

.progression-bar .quiz-section {
  width: 90vw;
}

.progress-container {
  width: 100%;
  background: #d3d2d2;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 80px;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: green;
  border-radius: 10px;
  transition: width 0.4s ease;
}

ul {
  display: flex;
  justify-content: space-between;
  color: rgb(50, 49, 51);
  align-items: center;
  padding-top: 1px;
  font-size: x-large;
  gap: 128px;
}

.progress-bar span {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.quiz-section {
  border: 1px solid rgb(48, 48, 51);
  height: 500px;
  padding: 30px;
}

.btn.hidden {
  display: none;
}
